{% if has_rights_to_edit == true %}
	<div class="border">
		<label>{{ lbl_upload_files }}
			<a href="#" class="semiRequired" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_semi_required }}" tabindex="-1">*</a><br>
		</label><br>
		<label class="button_add_document" id="button_add_document_label" for="documentInput">
			<span class="glyphicon glyphicon-plus attachment_add_button" aria-hidden="true"></span>
		</label><h6 id="nr_of_files_field"> {{ nr_of_files_upload }} 0</h6>
		<input class="input-sm col-xs-12 col-lg-12" id="documentInput" name="documentInput[]" type="file" multiple onchange="makeFileList();">
		<div class="attachment" id="fileList"> </div>
		<h6>{{ document_upload_comment }}</h6>
	</div>
{% endif %}
