<!doctype html>

<html>
<head>
    <title>{{title}}</title>
    <script language="JavaScript" src="javascript/shared.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <meta name="Robots" content="noindex,nofollow">
    <link rel="icon" type="img/ico" href="{{favicon}}">
    <style type="text/css" media="all">@import url("design/correspondentie.css.php");</style>
    <script language="Javascript">
        <!--
        // source: http://stackoverflow.com/questions/2400935/browser-detection-in-javascript
        navigator.browser_detection= (function(){
            var ua= navigator.userAgent, tem,
                M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
            if(/trident/i.test(M[1])){
                tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
                return 'IE '+(tem[1] || '');
            }
            if(M[1]=== 'Chrome'){
                tem= ua.match(/\b(OPR|Edge)\/(\d+)/);
                if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
            }
            M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
            if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
            return M.join(' ');
        })();
        // -->
    </script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="main">

    <div class="header">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td rowspan="2" width="130"><div class="logo"><a href="index.php"><img src="images/knaw_huc_logo_75.jpg"></a></div></td>
                <td><span class="title">{{website_name}}</span></td>
                <td align="right">
                    <span class="name">{{welcome|raw}}</span><br>
                    <span class="logout">{{logout|raw}}</span><br>
                    <a href="nl.php"><img src="images/nl.png" border="0"></a>
	                <a href="en.php"><img src="images/en.png" border="0"></a>
                </td>
            </tr>
        </table>
    </div>

	{% if hide_menu != 1 %}
	<div class="menu">{{menu|raw}}</div>
	{% endif %}

	<div class="content">{{content|raw}}</div>

	<div class="footer">
		<a href="contact.php">{{contact|raw}}</a>
    </div>
</div>

</body>
</html>