<h1>{{title}}</h1>
(of ga naar <a href="zoeken.php">simpel zoeken</a>)<br>
<br>

<table id="advanced_search_table">
	<tr>
		<td>
			<label id="kenmerk_search_lbl" for="kenmerk_search">{{ kenmerk_lbl }}</label>
		</td>
		<td>
			{{ search[1] }}
			<input type="text" id="kenmerk_search" name="kenmerk_search" value="{{ search['kenmerk'] }}">
		</td>
		<td>
			<label id="receiver_search_lbl" for="receiver_search">{{ receiver_name_lbl }}</label>
		</td>
		<td>
			<input type="text" id="receiver_search" name="receiver_search" value="{{ search['receiver_name'] }}">
		</td>
	</tr>

	<tr>
		<td>
			<label id="in_uit_search_lbl">{{ in_uit_lbl }}</label>
		</td>
		<td>
			{% for in_out in in_outs %}

				{% set selected = false %}
				{% for in_or_out in selected_in_or_out %}
					{% if in_or_out == in_out.key %}
						{% set selected = true %}
					{% endif %}
				{% endfor %}

				<label class="in_out"><input type="checkbox" id="in_uit_search" name="in_uit_search" {% if selected %}checked{% endif %} value="{{ in_out.key }}"> {{ in_out.label }}</label>
			{% endfor %}
		</td>
		<td>
			<label id="subject_search_lbl" for="subject_search">{{ subject_lbl }}</label>
		</td>
		<td>
			<input type="text" id="subject_search" name="subject_search" value="{{ search['subject'] }}">
		</td>
	</tr>

	<tr>
		<td>
			<label id="date_search_lbl" for="date_from_search">{{ date_search_lbl }}</label>
		</td>
		<td>
			<input type="text" id="date_from_search" name="date_from_search" value="{{ search['date_from'] }}">
			<input type="text" id="date_to_search" name="date_to_search" value="{{ search['date_to'] }}">
		</td>
		<td>
			<label id="remarks_search_lbl" for="remarks_search">{{ remarks_lbl }}</label>
		</td>
		<td>
			<input type="text" id="remarks_search" name="remarks_search" value="{{ search['remarks'] }}">
		</td>
	</tr>

	<tr>
		<td>
			<label id="sender_search_lbl" for="sender_search">{{ sender_name_lbl }}</label>
		</td>
		<td>
			<input type="text" id="sender_search" name="sender_search" value="{{ search['sender_name'] }}">
		</td>
		<td>
			<label id="registered_by_search_lbl" for="registered_by_search">{{ registered_by_lbl }}</label>
		</td>
		<td>
			<input type="text" id="registered_by_search" name="registered_by_search" value="{{ search['registered_by'] }}">
		</td>
	</tr>

	<tr>
		<td>
			<label id="type_of_document_search_lbl">{{ type_of_document_lbl }}</label>
		</td>
		<td colspan=3>
			{% for key, doctype in document_types %}
				{% set selected = false %}
				{% for doc_type in selected_document_types %}
					{% if doc_type == key %}
						{% set selected = true %}
					{% endif %}
				{% endfor %}
				<label class="type_of_document"><input type="checkbox" id="type_of_document_search" name="type_of_document_search" {% if selected %}checked{% endif %} value="{{ key }}"> {{ doctype[0] }}</label>
			{% endfor %}
		</td>
	</tr>

	<tr>
		<td colspan="4">
			<button id="advanced_search_button">{{ search_lbl }}</button>
		</td>
	</tr>
</table>

<br>

<div>
	<input type="hidden" id="current_page" value="{{current_page}}">
	<input type="hidden" id="max_pages" value="{{max_pages}}">
	<table>
		<tr>
            <td>
                <button id="first_page_button_top"> << </button>
            </td>
            <td>
                <button id="previous_button_top"> < </button>
            </td>
            <td>
                <label id="current_page_label">&nbsp{{ lbl_current_page }} {{ lbl_page_indicator_or }} {{ max_pages }}&nbsp</label>
            </td>
            <td>
                <button id="next_button_top"> > </button>
            </td>
            <td>
                <button id="last_page_button_top"> >> </button>
            </td>
		</tr>
	</table>
</div>

<div>
	<table id="postOverview" class="table-bordered table-condensed table-striped">
		<tr id="postHeaderRow">
            <th>{{ kenmerk_lbl }}</th>
            <th>{{ in_uit_lbl }}</th>
            <th>{{ lbl_date }}</th>
            <th>{{ lbl_tegenpartij }}</th>
            <th>{{ lbl_onze_gegevens }}</th>
            <th>{{ type_of_document_lbl }}</th>
            <th>{{ number_of_files_lbl }}</th>
            <th>{{ subject_lbl }}</th>
            <th>{{ is_mailed_lbl }}</th>
		</tr>

		{% for post in posts %}
            {% if post.numberOfFiles <= 0 %}
                <tr class="no_files_present">
            {% else %}
                <tr>
            {% endif %}
                <td><a href="{{post.url}}?ID={{post.ID}}">{{post.kenmerk}}</a></td>
                <td>{{post.inOut}}</td>
                <td>{{post.date}}</td>
				<td><a href="{{post.url}}?ID={{post.ID}}">{{post.theirName}}{% if post.theirOrganisation %}<br><i>{{post.theirOrganisation}}</i>{% endif %}</a></td>
				<td><a href="{{post.url}}?ID={{post.ID}}">{{post.ourName}}{% if post.ourOrganisation or post.ourDepartment %}<br><i>{{post.ourOrganisation}} {% if post.ourDepartment %}({{post.ourDepartment}}){% endif %}</i>{% endif %}</a></td>
                <td>{{post.typeOfDocument}}</td>
                <td>{{post.numberOfFiles}}</td>
                <td>{{post.subject}}</td>
                <td>
                    {% if post.isMailed %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <a href="mail_post.php?ID={{ post.ID }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    {% endif %}
                </td>
			</tr>
		{% endfor %}

	</table>
</div>

<div>
	<table>
		<tr>
            <td>
                <button id="first_page_button_bottom"> &lt;&lt; </button>
            </td>
            <td>
                <button id="previous_button_bottom"> &lt; </button>
            </td>
            <td>
                <label id="current_page_label">&nbsp{{ lbl_current_page }} {{ lbl_page_indicator_or }} {{ max_pages }}&nbsp</label>
            </td>
            <td>
                <button id="next_button_bottom"> &gt; </button>
            </td>
            <td>
                <button id="last_page_button_bottom"> &gt;&gt; </button>
            </td>
		</tr>
	</table>
</div>

<script language="JavaScript">
	navigationEnum = {
	    FIRST: 'first',
        PREVIOUS: 'previous',
        NEXT: 'next',
        LAST: 'last'
    };

	var pageNumber = document.getElementById('current_page').value;
	var maxPages = document.getElementById('max_pages').value;

    $(document).ready(function(){
        $('#first_page_button_top').on('click', function(){
            pageNavigation(navigationEnum.FIRST);
        });
        $('#first_page_button_bottom').on('click', function(){
            pageNavigation(navigationEnum.FIRST);
        });
        $('#previous_button_top').on('click', function(){
            pageNavigation(navigationEnum.PREVIOUS);
        });
        $('#previous_button_bottom').on('click', function(){
            pageNavigation(navigationEnum.PREVIOUS);
        });
        $('#next_button_top').on('click', function(){
            pageNavigation(navigationEnum.NEXT);
        });
        $('#next_button_bottom').on('click', function(){
            pageNavigation(navigationEnum.NEXT);
        });
        $('#last_page_button_top').on('click', function(){
            pageNavigation(navigationEnum.LAST);
        });
        $('#last_page_button_bottom').on('click', function(){
            pageNavigation(navigationEnum.LAST);
        });

        // hide prev/next button
        if ( pageNumber < 1 ) {
            $('#previous_button_bottom').prop('disabled', true);
            $('#previous_button_top').prop('disabled', true);
            $('#first_page_button_top').prop('disabled', true);
            $('#first_page_button_bottom').prop('disabled', true);
        }
        if ( pageNumber > maxPages - 2 ) {
            $('#next_button_bottom').prop('disabled', true);
            $('#next_button_top').prop('disabled', true);
            $('#last_page_button_top').prop('disabled', true);
            $('#last_page_button_bottom').prop('disabled', true);
        }

        $(function(){
            $('#date_to_search').datepicker({ dateFormat: 'dd-mm-yy' });
            $('#date_from_search').datepicker({ dateFormat: 'dd-mm-yy'});
        });
    });

	function doAdvancedSearch(){
		var kenmerk_value = $('#kenmerk_search').val();
		var date_from_value = $('#date_from_search').val();
		var date_to_value = $('#date_to_search').val();
		var sender_name_value = $('#sender_search').val();
		var receiver_name_value = $('#receiver_search').val();
		var in_uit_value = "";
		var separator = "";
		$("input:checkbox[name='in_uit_search']:checked").each(function(){
			in_uit_value += separator + $(this).val();
			separator = ","
		});
		var type_of_document_value = "";
		separator = "";
		$("input:checkbox[name='type_of_document_search']:checked").each(function(){
			type_of_document_value += separator +$(this).val();
			separator = ",";
		});
		var subject_value = $('#subject_search').val();
		var remarks_value = $('#remarks_search').val();
		var registered_by_value = $('#registered_by_search').val();
		location = '?in_out=' + in_uit_value
					+ '&kenmerk=' + kenmerk_value
					+ '&date_from=' + date_from_value
					+ '&date_to=' + date_to_value
					+ '&sender_name=' + sender_name_value
					+ '&receiver_name=' + receiver_name_value
					+ '&type_of_document=' + type_of_document_value
					+ '&subject=' + subject_value
					+ '&remarks=' + remarks_value
					+ '&registered_by=' + registered_by_value;
	}

	function pageNavigation(nav){
        switch(nav){
            case navigationEnum.FIRST:
                pageNumber = 0;
                break;
            case navigationEnum.LAST:
                pageNumber = ({{ max_pages }} - 1);
                break;
            case navigationEnum.NEXT:
                pageNumber++;
                break;
            case navigationEnum.PREVIOUS:
                if(pageNumber >= 1) { pageNumber--; }
                break;
            default:
                break;
        }

        var kenmerk_value = $('#kenmerk_search').val();
        var date_from_value = $('#date_from_search').val();
        var date_to_value = $('#date_to_search').val();
        var sender_name_value = $('#sender_search').val();
        var receiver_name_value = $('#receiver_search').val();
        var in_uit_value = "";
        var separator = "";
        $("input:checkbox[name='in_uit_search']:checked").each(function(){
            in_uit_value += separator + $(this).val();
            separator = ",";
        });
        var type_of_document_value = "";
        separator = "";
        $("input:checkbox[name='type_of_document_search']:checked").each(function(){
            type_of_document_value += separator + $(this).val();
            separator = ",";
        });
        var subject_value = $('#subject_search').val();
        var remarks_value = $('#remarks_search').val();
        var registered_by_value = $('#registered_by_search').val();
        location = '?page=' + pageNumber + '&in_out=' + in_uit_value
            + '&kenmerk=' + kenmerk_value
            + '&date_from=' + date_from_value
            + '&date_to=' + date_to_value
            + '&sender_name=' + sender_name_value
            + '&receiver_name=' + receiver_name_value
            + '&type_of_document=' + type_of_document_value
            + '&subject=' + subject_value
            + '&remarks=' + remarks_value
            + '&registered_by=' + registered_by_value;
    }

    document.getElementById("advanced_search_button").addEventListener("click", doAdvancedSearch, false);

</script>
