
<div class="index_button_alignment">
	<div class="index_button_margin">
		<a class="btn btn-default btn-lg" role="button" href="overzicht.php">Overzicht</a>
	</div>
	<div class="index_button_margin">
		<a class="btn btn-default btn-lg" role="button" href="postin.php">Post IN</a>
	</div>
	<div class="index_button_margin">
		<a class="btn btn-default btn-lg" role="button" href="postuit.php">Post UIT</a>
	</div>
	<div class="index_button_margin">
		<a class="btn btn-default btn-lg" role="button" href="zoeken.php">Zoeken</a>
	</div>
</div>
