<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<h1>{{title}}</h1>

<body>
    <div>
        <table id="postOverview">
            <tr id="postHeaderRow">
                <th>ID</th>
                <th>In/Uit</th>
                <th>Kenmerk</th>
                <th>Datum</th>
                <th>Hun naam</th>
                <th>Hun instituut</th>
                <th>Onze naam</th>
                <th>Onze instituut</th>
                <th>Onze afdeling</th>
                <th>Type document</th>
                <th>Onderwerp</th>
                <th>Opmerkingen</th>
            </tr>

			{% for post in posts %}
				<tr>
			        <td><a href="postin.php?ID={{ post.ID }}">{{post.ID}}</a></td>
			        <td>{{post.inOut}}</td>
			        <td>{{post.kenmerk}}</td>
			        <td>{{post.date}}</td>
			        <td>{{post.theirName}}</td>
			        <td>{{post.theirOrganisation}}</td>
			        <td>{{post.ourName}}</td>
			        <td>{{post.ourOrganisation}}</td>
			        <td>{{post.ourDepartment}}</td>
			        <td>{{post.typeOfDocument}}</td>
			        <td>{{post.subject}}</td>
			        <td>{{post.remarks}}</td>
		        </tr>
	        {% endfor %}

        </table>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <button id="previous_button"> << </button>
                </td>
                <td id="previous_page_number" hidden>

                </td>
                <td id="total_pages_cell">

                </td>
                <td id="next_page_number" hidden>

                </td>
                <td>
                    <button id="next_button"> >> </button>
                </td>
            </tr>
        </table>
    </div>
</body>

<script>
    document.getElementById ("previous_button").addEventListener ("click", previousPage, false);
    document.getElementById ("next_button").addEventListener ("click", nextPage, false);
    var pageNumber = location.href.substr(location.href.indexOf("=") + 1);
    if(pageNumber === '0'){$('#previous_button').hide();}

    function previousPage(){
        if(pageNumber >= 1){ pageNumber--; }
        location = '?page=' + pageNumber;
    }

    function nextPage(){
        pageNumber++;
        location = '?page=' + pageNumber;
    }
</script>
