<h1>{{title}}</h1>

<form method="post" action="upload_post_uit.php" enctype="multipart/form-data">
    <table id="post_uit_table">
        <tr>
            <td><label for="characteristicInput">{{ characteristicsInfo }}</label></td>
            <td><input class="input-sm col-lg-12 disabledField" id="characteristicInput" name="kenmerk" type="text" readonly value="{{ characteristicsValue }}" tabindex="-1"> </td> <!--Moet berekend worden yy-xxx-->
        </tr>
        <tr>
            <td>
                <label for="dateSentInput">{{ dateSentInfo }}
	                <a href="#" class="required" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_required }}" tabindex="-1">*</a>
	                <a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ dateSentInfo }}" tabindex="-1">?</a>
                </label>
            </td>
            <td><input class="input-sm col-lg-12" id="dateSentInput" name="date" type="text" value="{{ selectedPost['date'] }}"></td> <!--picklist, moet wel aanpasbaar zijn-->
        </tr>
        <tr>
            <td>
                <label for="senderNameInput">{{ senderNameInfo }}
	                <a href="#" class="required" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_required }}" tabindex="-1">*</a>
	                <a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ senderNameInfo }}" tabindex="-1">?</a>
                </label>
            </td>
            <td><input class="input-sm col-lg-12" id="senderNameInput" name="our_name" type="text" value="{{ selectedPost['our_name'] }}"></td><!--vrije tekst veld-->
        </tr>
        <tr>
            <td><label for="senderInstituteInput">{{ senderInstituteInfo }}</label></td>
            <td><input class="input-sm col-lg-12 notYetDisabledField" id="senderInstituteInput" name="our_institute" type="text" value="{{ selectedPost['our_institute'] }}" tabindex="-1"></td><!--vrije tekst veld, moet later automatisch ingevuld worden, dan niet meer aanpasbaar-->
        </tr>
        <tr>
            <td><label for="senderDepartmentInput">{{ senderDepartmentInfo }}</label></td>
            <td><input class="input-sm col-lg-12 notYetDisabledField" id="senderDepartmentInput" name="our_department" type="text" value="{{ selectedPost['our_department'] }}" tabindex="-1"></td><!--vrije tekst veld, moet later automatisch ingevuld worden, dan niet meer aanpasbaar-->
        </tr>
        <tr>
            <td>
                <label for="receiverNameInput">{{ receiverNameInfo }}
                    <a href="#" class="semiRequired" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_semi_required_receiver_name_and_institute }}" tabindex="-1">*</a>
                    <a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ receiverNameInfo }}" tabindex="-1">?</a>
                </label>
            </td>
            <td><input class="input-sm col-lg-12" id="receiverNameInput" name="their_name" type="text" value="{{ selectedPost['their_name'] }}"></td><!--vrije veld-->
        </tr>
        <tr>
            <td>
                <label for="receiverInstituteInput">{{ receiverInstituteInfo }}
	                <a href="#" class="semiRequired" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_semi_required_receiver_name_and_institute }}" tabindex="-1">*</a>
	                <a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ receiverInstituteInfo }}" tabindex="-1">?</a>
                </label>
            </td>
            <td><input class="input-sm col-lg-12" id="receiverInstituteInput" name="their_organisation" type="text" value="{{ selectedPost['their_organisation'] }}"></td> <!--vrije tekst, met jquery auto aanvullen lijst (lijst komt uit veld 'their_organisation')-->
        </tr>
        <tr>
            <td>
                <label for="typeOfDocumentTD">{{ typeOfDocumentInfo }}
	                <a href="#" class="required" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_required }}" tabindex="-1">*</a>
	                <a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ typeOfDocumentInfo }}" tabindex="-1">?</a>
                </label>
            </td>
            <td id="typeOfDocumentTD">
                {% for key, value in documentTypeOptions %}
                    <label for="{{ key }}" style="margin-right: 10px;"><input id="{{ key }}" value="{{ key }}" type="radio" name="type_of_document" {% if selectedPost['type_of_document'] == key %} checked {% endif %}> {{ value[0] }}</label>
                {% endfor %}
            </td><!--select of radio box, keuzes: Beleidsdocument, Vergaderstuk, Besluit, Overeenkomst, Verslag, Overige correspondentie-->
        </tr>
        <tr>
            <td>
                <label for="subjectInput">{{ subjectInputInfo }}
	                <a href="#" class="required" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_required }}" tabindex="-1">*</a>
	                <a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ subjectInputInfo }}" tabindex="-1">?</a>
                </label>
            </td>
            <td><textarea class="input-sm col-lg-12" id="subjectInput" name="subject">{{ selectedPost['subject'] }}</textarea></td><!--vrije tekst veld (text area, 2 regels, resizable)-->
        </tr>
        <tr>
            <td><label for="commentsInput">{{ commentsInputInfo }} <a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ commentsInputInfo }}" tabindex="-1">?</a></label></td>
            <td><textarea class="input-sm col-lg-12" id="commentsInput" name="remarks">{{ selectedPost['remarks'] }}</textarea></td><!--vrije tekst veld (text area, 2 regels, resizable)-->
        </tr>
        <tr>
            <td><label for="registeredByInput" tabindex="-1">{{ registeredByInfo }}</label></td>
            <td><input class="input-sm col-lg-12 disabledField" id="registeredByInput" name="registered_by" type="text" readonly value="{{ selectedPost['registered_by'] }}" tabindex="-1"></td><!--vrije tekst veld, hier moet straks automatisch de naam van de ingelogde persoon komen-->
        </tr>
        <tr>
            <td>
                {% if files_from_post|length > 0 %}
                    <label>Files for this post on server</label> <br>(click on the file to delete it)
                {% endif %}
            </td>
            <td>
                {% if files_from_post|length > 0 %}
                    <ul>
                        {% for file in files_from_post %}
                            <li><input id="deleteFileFromServer" name="deleteFileFromServer" type="submit" formaction="remove_file_from_post.php" value="{{ file }}"></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <label for="documentInput">{{ documentInfo }}
	                <a href="#" class="semiRequired" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_semi_required }}" tabindex="-1">*</a>
                </label>
            </td>
            <td><input class="input-sm col-lg-12" id="documentInput" name="documentInput[]" type="file" multiple onchange="makeFileList();"></td><!--File1, File2, File3, ... (upload, delete, download)-->
        </tr>
        <tr>
            <td></td>
            <td><ul id="fileList"></ul></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="submitValue" value="{{ submitValue }}">
                <input type="text" name="ID" value="{{ selectedPost['ID'] }}" hidden>
            </td>
        </tr>
    </table>
</form>


<script>
    $(document).ready(function() {

        $('#deleteFileFromServer').on('click', function(){
            return confirm("Are you sure you want to delete the file?");
        });

        $('[data-toggle="popover"]').popover();

	    var minLengthSearchValue = 2;

        // sets the current date in the dateArrivedInput field, if empty
        $(function(){
            $('#dateSentInput').datepicker({ dateFormat: 'dd-mm-yy' });
            {% if selectedPost['date'] == "" %}
                $('#dateSentInput').datepicker('setDate', new Date());
            {% else %}
                var date = new Date('{{ selectedPost['date'] }}');
                $('#dateSentInput').datepicker('setDate', date.getDate()+"-"+(date.getUTCMonth()+1)+"-"+date.getUTCFullYear());
            {% endif %}
        });

        $('#senderNameInput').on('keyup', function(){
            autoComplete($(this), $(this).val(), 'our_name');
        });

        $('#senderInstituteInput').on('keyup', function(){
            autoComplete($(this), $(this).val(), 'our_institute');
        });

        $('#senderDepartmentInput').on('keyup', function(){
            autoComplete($(this), $(this).val(), 'our_department');
        });

        $('#receiverNameInput').on('keyup', function(){
            autoComplete($(this), $(this).val(), 'their_name');
        });

        $('#receiverInstituteInput').on('keyup', function(){
            autoComplete($(this), $(this).val(), 'their_organisation');
        });
    });

    // To autcomplete the input in the form
    function autoComplete(element, value, type){
        element.autocomplete({
            source: function (request, response) {
                $.getJSON("retrieve_data_autocomplete.php", {
                    term: value,
                    type: type
                }, response);
            }
        });
    }

    function makeFileList() {
        //get the input and UL list
        var input = document.getElementById('documentInput');
        var list = document.getElementById('fileList');

        //empty list for now...
        while (list.hasChildNodes()) {
            list.removeChild(list.firstChild);
        }

        //for every file...
        for (var x = 0; x < input.files.length; x++) {
            //add to list
            var li = document.createElement('li');
            li.innerHTML = 'File ' + (x + 1) + ':  ' + input.files[x].name;
            list.appendChild(li);
        }

        if(!list.hasChildNodes()) {
            var li = document.createElement('li');
            li.innerHTML = "No Files Selected";
            list.appendChild(li);
        }
    }
</script>