<h1>{{title}}</h1>

<form method="post" action="upload_post_uit.php" enctype="multipart/form-data">
    <table id="post_uit_table">
        <tr>
            <td><label for="characteristicInput">{{ characteristicsInfo }}: <a href="#" data-toggle="popover" data-trigger="hover" data-content="{{ characteristicsInfo }}" tabindex="-1">(?)</a></label></td>
            <td><input class="input-sm col-lg-12 disabledField" id="characteristicInput" name="kenmerk" type="text" readonly value="{{ characteristicsValue }}" tabindex="-1"> </td> <!--Moet berekend worden yy-xxx-->
        </tr>
        <tr>
            <td><label for="dateSentInput">{{ dateSentInfo }}: <a href="#" data-toggle="popover" data-trigger="hover" data-content="{{ dateSentInfo }}" tabindex="-1">(?)</a></label></td>
            <td><input class="input-sm col-lg-12" id="dateSentInput" name="date" type="date" value="{{ selectedPost['date'] }}"></td> <!--picklist, moet wel aanpasbaar zijn-->
        </tr>
        <tr>
            <td><label for="senderNameInput">{{ senderNameInfo }}: <a href="#" data-toggle="popover" data-trigger="hover" data-content="{{ senderNameInfo }}" tabindex="-1">(?)</a></label></td>
            <td><input class="input-sm col-lg-12" id="senderNameInput" name="our_name" type="text" value="{{ selectedPost['our_name'] }}"></td><!--vrije tekst veld-->
        </tr>
        <tr>
            <td><label for="senderInstituteInput">{{ senderInstituteInfo }}: <a href="#" data-toggle="popover" data-trigger="hover" data-content="{{ senderInstituteInfo }}" tabindex="-1">(?)</a></label></td>
            <td><input class="input-sm col-lg-12" id="senderInstituteInput" name="our_institute" type="text" value="{{ selectedPost['our_institute'] }}"></td><!--vrije tekst veld, moet later automatisch ingevuld worden, dan niet meer aanpasbaar-->
        </tr>
        <tr>
            <td><label for="senderDepartmentInput">{{ senderDepartmentInfo }}: <a href="#" data-toggle="popover" data-trigger="hover" data-content="{{ senderDepartmentInfo }}" tabindex="-1">(?)</a></label></td>
            <td><input class="input-sm col-lg-12" id="senderDepartmentInput" name="our_department" type="text" value="{{ selectedPost['our_department'] }}"></td><!--vrije tekst veld, moet later automatisch ingevuld worden, dan niet meer aanpasbaar-->
        </tr>
        <tr>
            <td><label for="receiverNameInput">{{ receiverNameInfo }}: <a href="#" data-toggle="popover" data-trigger="hover" data-content="{{ receiverNameInfo }}" tabindex="-1">(?)</a></label></td>
            <td><input class="input-sm col-lg-12" id="receiverNameInput" name="their_name" type="text" value="{{ selectedPost['their_name'] }}"></td><!--vrije veld-->
        </tr>
        <tr>
            <td><label for="receiverInstituteInput">{{ receiverInstituteInfo }}: <a href="#" data-toggle="popover" data-trigger="hover" data-content="{{ receiverInstituteInfo }}" tabindex="-1">(?)</a></label></td>
            <td><input class="input-sm col-lg-12" id="receiverInstituteInput" name="their_organisation" type="text" value="{{ selectedPost['their_organisation'] }}"></td> <!--vrije tekst, met jquery auto aanvullen lijst (lijst komt uit veld 'their_organisation')-->
        </tr>
        <tr>
            <td><label for="typeOfDocumentTD">{{ typeOfDocumentInfo }}: <a href="#" data-toggle="popover" data-trigger="hover" data-content="{{ typeOfDocumentInfo }}" tabindex="-1">(?)</a></label></td>
            <td id="typeOfDocumentTD">
                {% for key, value in documentTypeOptions %}
                    <label for="{{ key }}" style="margin-right: 10px;"><input id="{{ key }}" value="{{ key }}" type="radio" name="type_of_document" {% if selectedPost['type_of_document'] == key %} checked {% endif %}>{{ value[0] }}</label>
                {% endfor %}
            </td><!--select of radio box, keuzes: Beleidsdocument, Vergaderstuk, Besluit, Overeenkomst, Verslag, Overige correspondentie-->
        </tr>
        <tr>
            <td><label for="subjectInput">{{ subjectInputInfo }}: <a href="#" data-toggle="popover" data-trigger="hover" data-content="{{ subjectInputInfo }}" tabindex="-1">(?)</a></label></td>
            <td><textarea class="input-sm col-lg-12" id="subjectInput" name="subject">{{ selectedPost['subject'] }}</textarea></td><!--vrije tekst veld (text area, 2 regels, resizable)-->
        </tr>
        <tr>
            <td><label for="commentsInput">{{ commentsInputInfo }}: <a href="#" data-toggle="popover" data-trigger="hover" data-content="{{ commentsInputInfo }}" tabindex="-1">(?)</a></label></td>
            <td><textarea class="input-sm col-lg-12" id="commentsInput" name="remarks">{{ selectedPost['remarks'] }}</textarea></td><!--vrije tekst veld (text area, 2 regels, resizable)-->
        </tr>
        <tr>
            <td><label for="registeredByInput" tabindex="-1">{{ registeredByInfo }}:</label></td>
            <td><input class="input-sm col-lg-12 disabledField" id="registeredByInput" name="registered_by" type="text" readonly value="{{ selectedPost['registered_by'] }}" tabindex="-1"></td><!--vrije tekst veld, hier moet straks automatisch de naam van de ingelogde persoon komen-->
        </tr>
        <tr>
            <td><label for="documentInput">{{ documentInfo }}: <a href="#" data-toggle="popover" data-trigger="hover" data-content="{{ documentInfo }}" tabindex="-1">(?)</a></label></td>
            <td><input class="input-sm col-lg-12" id="documentInput" name="document" type="file" multiple onchange="makeFileList();"></td><!--File1, File2, File3, ... (upload, delete, download)-->
        </tr>
        <tr>
            <td></td>
            <td><ul id="fileList"></ul></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="submitValue" value="{{ submitValue }}">
                <input type="text" name="ID" value="{{ selectedPost['ID'] }}" hidden>
            </td>
        </tr>
    </table>
</form>


<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover();

        // sets the current date in the dateArrivedInput field, if empty
        {% if selectedPost['date'] == "" %}
            $('#dateSentInput').val(new Date().toDateInputValue());
        {% endif %}
    
        $('#receiverInstituteInput').on('keyup', function(){
            if($(this).val().length >= 3){
                autoComplete($(this), $(this).val(), 'vw_filter_their_organisation', 'their_organisation');
            }
        });

        $('#senderNameInput').on('keyup', function(){
            if($(this).val().length >= 3){
                autoComplete($(this), $(this).val(), 'vw_filter_our_name', 'our_name');
            }
        });

        $('#receiverNameInput').on('keyup', function(){
            if($(this).val().length >= 3) {
                autoComplete($(this), $(this).val(), 'vw_filter_their_name', 'their_name');
            }
        });
    });

    // To autcomplete the input in the form
    function autoComplete(element, value, table, column){
        element.autocomplete({
            source: function (request, response) {
                $.getJSON("retrieve_data_autocomplete.php", {
                    term: value,
                    table: table,
                    column: column
                }, response);
            }
        });
    }

    // To get the date from the correct timezone
    Date.prototype.toDateInputValue = (function() {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0,10);
    });

    function makeFileList() {
        //get the input and UL list
        var input = document.getElementById('documentInput');
        var list = document.getElementById('fileList');

        //empty list for now...
        while (list.hasChildNodes()) {
            list.removeChild(list.firstChild);
        }

        //for every file...
        for (var x = 0; x < input.files.length; x++) {
            //add to list
            var li = document.createElement('li');
            li.innerHTML = 'File ' + (x + 1) + ':  ' + input.files[x].name;
            list.appendChild(li);
        }

        if(!list.hasChildNodes()) {
            var li = document.createElement('li');
            li.innerHTML = "No Files Selected";
            list.appendChild(li);
        }
    }
</script>