<h1>{{title}}</h1>
{% if submitError %}
    <h3 id="errorHeader" style="color: red;">{{ submitError }}</h3>
{% endif %}

{% if has_rights_to_edit is defined %}
    {% if has_rights_to_edit == true %}
        <form method="POST" onsubmit="return validateForm()" enctype="multipart/form-data">
    {% endif %}
{% endif %}

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">

			<table id="post_uit_table">
				<tr>
					<td><label for="characteristicInput">{{ characteristicsInfo }}</label></td>
					<td><input class="input-sm col-xs-12 col-lg-12 disabledField" id="characteristicInput" name="kenmerk" type="text" readonly value="{{ characteristicsValue }}" tabindex="-1"> </td>
				</tr>
				<tr>
					<td>
						<label for="dateSentInput">{{ dateSentInfo }}
							<a href="#" class="required" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_required }}" tabindex="-1">*</a>
							<a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ help_date }}" tabindex="-1">?</a>
						</label>
					</td>
					<td><input class="input-sm col-xs-12 col-lg-12" id="dateSentInput" name="date" type="text" value="{{ selectedPost['date'] }}" {% if has_rights_to_edit == false %}disabled{% endif %}></td>
				</tr>
				<tr>
					<td>
						<label for="senderNameInput">{{ senderNameInfo }}
							<a href="#" class="required" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_required }}" tabindex="-1">*</a>
							<a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ help_sender_name }}" tabindex="-1">?</a>
						</label>
					</td>
					<td><input class="input-sm col-xs-12 col-lg-12" id="senderNameInput" name="our_name" type="text" value="{{ selectedPost['our_name'] }}" {% if has_rights_to_edit == false %}disabled{% endif %}></td>
				</tr>
				<tr>
					<td><label for="senderInstituteInput">{{ senderInstituteInfo }}</label></td>
					<td><input class="input-sm col-xs-12 col-lg-12 disabledField" id="senderInstituteInput" name="our_institute" type="text" readonly value="{{ selectedPost['our_institute'] }}" tabindex="-1"></td>
				</tr>
				<tr>
					<td><label for="senderDepartmentInput">{{ senderDepartmentInfo }}</label></td>
					<td><input class="input-sm col-xs-12 col-lg-12 disabledField" id="senderDepartmentInput" name="our_department" type="text" readonly value="{{ selectedPost['our_department'] }}" tabindex="-1"></td>
				</tr>
				<tr>
					<td>
						<label for="receiverNameInput">{{ receiverNameInfo }}
							<a href="#" class="semiRequired" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_semi_required_receiver_name_and_institute }}" tabindex="-1">*</a>
							<a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ help_receiver_name }}" tabindex="-1">?</a>
						</label>
					</td>
					<td><input class="input-sm col-xs-12 col-lg-12" id="receiverNameInput" name="their_name" type="text" value="{{ selectedPost['their_name'] }}" {% if has_rights_to_edit == false %}disabled{% endif %}></td>
				</tr>
				<tr>
					<td>
						<label for="receiverInstituteInput">{{ receiverInstituteInfo }}
							<a href="#" class="semiRequired" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_semi_required_receiver_name_and_institute }}" tabindex="-1">*</a>
							<a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ help_receiver_organisation }}" tabindex="-1">?</a>
						</label>
					</td>
					<td><input class="input-sm col-xs-12 col-lg-12" id="receiverInstituteInput" name="their_organisation" type="text" value="{{ selectedPost['their_organisation'] }}" {% if has_rights_to_edit == false %}disabled{% endif %}></td>
				</tr>
				<tr>
					<td>
						<label for="typeOfDocumentTD">{{ typeOfDocumentInfo }}
							<a href="#" class="required" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_required }}" tabindex="-1">*</a>
							<a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ help_type_of_document }}" tabindex="-1">?</a>
						</label>
					</td>
					<td id="typeOfDocumentTD">
						{% for key, value in documentTypeOptions %}
							<label for="{{ key }}" style="margin-right: 10px;"><input id="{{ key }}" value="{{ key }}" type="radio" name="type_of_document" {% if selectedPost['type_of_document'] == key %} checked {% else %} {% if has_rights_to_edit == false %} disabled {% endif %} {% endif %}> {{ value[0] }}</label>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>
						<label for="subjectInput">{{ subjectInputInfo }}
							<a href="#" class="required" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_required }}" tabindex="-1">*</a>
							<a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ help_subject }}" tabindex="-1">?</a>
						</label>
					</td>
					<td><textarea class="input-sm col-xs-12 ol-lg-12" id="subjectInput" name="subject" {% if has_rights_to_edit == false %}disabled{% endif %}>{{ selectedPost['subject'] }}</textarea></td>
				</tr>
				<tr>
					<td><label for="commentsInput">{{ commentsInputInfo }} <a href="#" class="help" data-toggle="popover" data-trigger="hover" data-content="{{ help_remarks }}" tabindex="-1">?</a></label></td>
                        <td><textarea class="input-sm col-xs-12 col-lg-12" id="commentsInput" name="remarks" {% if has_rights_to_edit == false %}disabled{% endif %}>{{ selectedPost['remarks'] }}</textarea></td>
				</tr>
				<tr>
					<td><label for="registeredByInput" tabindex="-1">{{ registeredByInfo }}</label></td>
					<td>
						<input id="registeredByInput" name="registered_by" type="hidden" value="{{ selectedPost['registered_by'] }}">
						<input class="input-sm col-xs-12 col-lg-12 disabledField" id="registeredByName" name="registered_by_name" type="text" readonly value="{{ selectedPost['registered_by_name'] }}" tabindex="-1">
					</td>
				</tr>
			</table>

		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

            {% if has_rights_to_edit %}
			<div class="border">
				<label>{{ lbl_upload_files }}
					<a href="#" class="semiRequired" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_semi_required }}" tabindex="-1">*</a><br>
				</label><br>
                <label class="button_add_document" id="button_add_document_label" for="documentInput">
                    <span class="glyphicon glyphicon-plus attachment_add_button" aria-hidden="true"></span>
                </label><h6 id="nr_of_files_field"> {{ nr_of_files_upload }} 0</h6>
				<input class="input-sm col-xs-12 col-lg-12" id="documentInput" name="documentInput[]" type="file" multiple onchange="makeFileList();">
                <div class="attachment" id="fileList"></div>
                <h6>{{ document_upload_comment }}</h6>
			</div>
            {% endif %}

			{% if files_from_post|length > 0 %}
			<div class="border attachment">
                <label>{{ lbl_already_uploaded_files }}</label>
                <ul id="attachment_list" class="in_out">
                    {% for file in files_from_post %}
                        <li id="attachment_list_item" value="{{ file }}">
                            {% if has_rights_to_edit %}
                            <button type="submit" class="openFileFromServer" name="openFileFromServer" formaction="open_file_from_post.php" value="{{ file }}">
                                <span class="glyphicon glyphicon-save-file attachment_button_images" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="deleteFileFromServer" name="deleteFileFromServer" value="{{ file }}">
                                <span class="glyphicon glyphicon-remove attachment_button_images" aria-hidden="true"></span>
                            </button>
                            {% endif %}
                            {{ file }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 inputformsubmitbutton">
            {% if has_rights_to_edit %}
			<input type="submit" name="submitValue" value="{{ submitValue }}">
            {% endif %}
			<input type="text" name="ID" value="{{ selectedPost['ID'] }}" hidden>
            <input type="text" id="our_loginname" name="our_loginname" value="{{ selectedPost['our_loginname'] }}" hidden>
		</div>
	</div>
</form>


<script>
	$(document).ready(function() {

        $('.deleteFileFromServer').on('click', function(){
        if(confirm("{{ are_you_sure_delete }}")){
            deleteAttachment($(this).val());
            }
        });

        $('#documentInput').on('change', function(event){
            var nr_of_files = document.getElementById('nr_of_files_field');
            nr_of_files.innerText = '{{ nr_of_files_upload }}' + event.target.files.length;
        });

    $('#senderNameInput').on('change onblur', function(){
            $.ajax({
                url: 'handle_autocomplete_auto_fill.php',
                type: 'GET',
                data: {
                    name: $(this).val()
                },
                dataType: 'json',
                success: function(data) {
                    if(data.length > 0) {
                        $('#senderInstituteInput').val(data[0]['clean_institute']);
                        $('#senderDepartmentInput').val(data[0]['clean_department']);
                        $('#our_loginname').val(data[0]['clean_loginname']);
                    }else{
                        $('#senderInstituteInput').val('');
                        $('#senderDepartmentInput').val('');
                        $('#our_loginname').val('');
                    }
                }
            });
        });

		$('#deleteFileFromServer').on('click', function(){
			return confirm("{{ are_you_sure_delete }}");
		});

		$('[data-toggle="popover"]').popover();

		// sets the current date in the dateArrivedInput field, if empty
		$(function(){
			$('#dateSentInput').datepicker({ dateFormat: 'dd-mm-yy' });
			{% if selectedPost['date'] == "" %}
				$('#dateSentInput').datepicker('setDate', new Date());
			{% else %}
				var date = new Date('{{ selectedPost['date'] }}');
				$('#dateSentInput').datepicker('setDate', date.getDate()+"-"+(date.getUTCMonth()+1)+"-"+date.getUTCFullYear());
			{% endif %}
		});

		$('#senderNameInput').on('keyup', function(){
			autoComplete($(this), $(this).val(), 'our_name');
		});

		$('#senderInstituteInput').on('keyup', function(){
			autoComplete($(this), $(this).val(), 'our_institute');
		});

		$('#senderDepartmentInput').on('keyup', function(){
			autoComplete($(this), $(this).val(), 'our_department');
		});

		$('#receiverNameInput').on('keyup', function(){
			autoComplete($(this), $(this).val(), 'their_name');
		});

		$('#receiverInstituteInput').on('keyup', function(){
			autoComplete($(this), $(this).val(), 'their_organisation');
		});
	});

	// Function to delete the attachment selected to delete.
	function deleteAttachment(filename){
        $.ajax({
            type: 'POST',
            url: 'remove_file_from_post.php',
            data: {
                'file' : filename,
                'kenmerk' : {{ selectedPost['kenmerk'] }}
            },
            success: function (response) {
                if( response === "true" ) {
                    var lis = document.querySelectorAll('#attachment_list li');
                    for(var i=0; li=lis[i]; i++) {
                        if(li.innerText.trim() === filename.trim()) {
                            li.innerText = filename + " ({{ removed }})";
                        }
                    }
                }
                else alert('Something Went Wrong!');
            }
        });
    }

    function validateForm(){
        var isValid = true;
        if($('#dateSentInput').val() === ""){
            isValid = false;
        }else if($('#senderNameInput').val() === ""){
            isValid = false;
        }else if($('#receiverNameInput').val() === "" && $('#receiverInstituteInput').val() === ""){
            isValid = false;
        }else if($('[name="type_of_document"]').selected === false){
            isValid = false;
        }else if($('#subjectInput').val() === ""){
            isValid = false;
        }

        if(!isValid)
            alert("Not all required fields have been filled out!");
        return isValid;
    }

</script>