{% if has_rights_to_edit == true %}
	<div class="border">
		<label>{{ lbl_upload_files }}
			<a href="#" class="semiRequired" data-toggle="popover" data-trigger="hover" data-content="{{ field_is_semi_required }}" tabindex="-1">*</a><br>
		</label><br>
		<label class="button_add_document" id="button_add_document_label" for="documentInput">
			<span class="glyphicon glyphicon-plus attachment_add_button" aria-hidden="true"></span>
		</label><h6 id="nr_of_files_field"> {{ nr_of_files_upload }} 0</h6>
		<input class="input-sm col-xs-12 col-lg-12" id="documentInput" name="documentInput[]" type="file" multiple onchange="makeFileList();">
		<div class="attachment" id="fileList"> </div>
		<h6>{{ document_upload_comment }}</h6>
	</div>
{% endif %}

{% if files_from_post|length > 0 %}
	<div class="border attachment">
		<label>{{ lbl_already_uploaded_files }}</label>
		<ul id="attachment_list" class="in_out">
			{% for file in files_from_post %}
				<li id="attachment_list_item" value="{{ file }}">
					<button type="submit" class="openFileFromServer" name="openFileFromServer" formaction="open_file_from_post.php" value="{{ file }}">
						<span class="glyphicon glyphicon-save-file attachment_button_images" aria-hidden="true"></span>
					</button>

					{% if has_rights_to_edit %}
						<button type="button" class="deleteFileFromServer" name="deleteFileFromServer" value="{{ file }}">
							<span class="glyphicon glyphicon-remove attachment_button_images" aria-hidden="true"></span>
						</button>
					{% endif %}

					{% set maxLength = 14 %}
					{% if file|length <= maxLength %}
						{{ file }}
					{% else %}
						<span title="{{ file }}">{{ file|slice(0,maxLength/2) }}&hellip;{{ file|slice( file|length-maxLength/2, maxLength/2 ) }}</span>
					{% endif %}

				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
