<h1>{{title}}</h1>
(of ga naar <a href="geavanceerd_zoeken.php">geavanceerd zoeken</a>)<br>
<br>

Zoek: <input type="text" id="search" value="{{ search }}"> <button id="zoek">Zoek</button><br>
<br>

<div>
	<input type="hidden" id="current_page" value="{{current_page}}">
	<input type="hidden" id="max_pages" value="{{max_pages}}">
	<table>
		<tr>
            <td>
                <button id="first_page_button_top"> << </button>
            </td>
			<td>
				<button id="previous_button_top"> < </button>
			</td>
            <td>
                <label id="current_page_label">&nbsp{{ lbl_current_page }} {{ lbl_page_indicator_or }} {{ max_pages }}&nbsp</label>
			</td>
			<td>
				<button id="next_button_top"> > </button>
			</td>
            <td>
                <button id="last_page_button_top"> >> </button>
            </td>
		</tr>
	</table>
</div>
<div>
	<table id="postOverview" class="table-bordered table-condensed table-hover table-striped">
		<tr id="postHeaderRow">
			<th>{{ kenmerk_lbl }}</th>
			<th>{{ in_uit_lbl }}</th>
			<th>{{ lbl_date }}</th>
			<th>{{ lbl_tegenpartij }}</th>
			<th>{{ lbl_onze_gegevens }}</th>
			<th>{{ type_of_document_lbl }}</th>
            <th>{{ number_of_files_lbl }}</th>
			<th>{{ subject_lbl }}</th>
		</tr>

		{% for post in posts %}
            {% if post.numberOfFiles <= 0 %}
                <tr class="no_files_present">
            {% else %}
                <tr>
            {% endif %}
                <td><a href="{{post.url}}?ID={{post.ID}}">{{post.kenmerk}}</a></td>
                <td>{{post.inOut}}</td>
                <td>{{post.date}}</td>
                <td>{{post.theirName}}<br><i>{{post.theirOrganisation}}</i></td>
                <td>{{post.ourName}}<br><i>{{post.ourOrganisation}} ({{post.ourDepartment}})</i></td>
                <td>{{post.typeOfDocument}}</td>
                <td>{{post.numberOfFiles}}</td>
                <td>{{post.subject}}</td>
			</tr>
		{% endfor %}

	</table>
</div>
<div>
	<table>
		<tr>
            <td>
                <button id="first_page_button_bottom"> << </button>
            </td>
			<td>
				<button id="previous_button_bottom"> < </button>
			</td>
            <td>
                <label id="current_page_label">&nbsp{{ lbl_current_page }} {{ lbl_page_indicator_or }} {{ max_pages }}&nbsp</label>
            </td>
			<td>
				<button id="next_button_bottom"> > </button>
			</td>
            <td>
                <button id="last_page_button_bottom"> >> </button>
            </td>
		</tr>
	</table>
</div>

<script>
    navigationEnum = {
        FIRST: 'first',
        PREVIOUS: 'previous',
        NEXT: 'next',
        LAST: 'last'
    };

	//var pageNumber = location.href.substr(location.href.indexOf("=") + 1); // werkt niet
	var pageNumber = document.getElementById('current_page').value;
	var maxPages = document.getElementById('max_pages').value;
	var fldSearchOriginal = document.getElementById('search').value;

	// jquery for the handling of the click action on the page navigation buttons
	$(document).ready(function(){
        $('#first_page_button_top').on('click', function(){
            pageNavigation(navigationEnum.FIRST);
        });
        $('#first_page_button_bottom').on('click', function(){
            pageNavigation(navigationEnum.FIRST);
        });
        $('#previous_button_top').on('click', function(){
            pageNavigation(navigationEnum.PREVIOUS);
        });
        $('#previous_button_bottom').on('click', function(){
            pageNavigation(navigationEnum.PREVIOUS);
        });
        $('#next_button_top').on('click', function(){
            pageNavigation(navigationEnum.NEXT);
        });
        $('#next_button_bottom').on('click', function(){
            pageNavigation(navigationEnum.NEXT);
        });
        $('#last_page_button_top').on('click', function(){
            pageNavigation(navigationEnum.LAST);
        });
        $('#last_page_button_bottom').on('click', function(){
            pageNavigation(navigationEnum.LAST);
        });

        // hide prev/next button
        if ( pageNumber < 1 ) {
            $('#previous_button_bottom').prop('disabled', true);
            $('#previous_button_top').prop('disabled', true);
            $('#first_page_button_top').prop('disabled', true);
            $('#first_page_button_bottom').prop('disabled', true);
        }
        if ( pageNumber > maxPages - 2 ) {
            $('#next_button_bottom').prop('disabled', true);
            $('#next_button_top').prop('disabled', true);
            $('#last_page_button_top').prop('disabled', true);
            $('#last_page_button_bottom').prop('disabled', true);
        }
    });

	//
	function doSearch() {
		var fldNewSearch = document.getElementById('search').value;
		location = '?search=' + fldNewSearch;
	}

	function pageNavigation(nav){
        switch(nav){
            case navigationEnum.FIRST:
                pageNumber = 0;
                break;
            case navigationEnum.LAST:
                pageNumber = ({{ max_pages }} - 1);
                break;
            case navigationEnum.NEXT:
                pageNumber++;
                break;
            case navigationEnum.PREVIOUS:
                if(pageNumber >= 1) { pageNumber--; }
                break;
            default:
                break;
        }
        location = '?page=' + pageNumber + '&search=' + fldSearchOriginal;
    }

    document.getElementById("zoek").addEventListener ("click", doSearch, false);

</script>
